// Libraries

// Components

// Hooks

// Features

// Languages

// Styles

// Types

type Props = React.HTMLProps<HTMLElement> & {};

// Constants


/**
 * @description 
 */
export default function __COMPONENT__(props: Props): React.ReactElement
{

    // MODELS -----------------------------

    // VIEW MODELS ------------------------

    // EFFECTS ---------------------------

    // HANDLERS --------------------------

    // VIEW ------------------------------

    return (
        <>
            {props.children}
        </>
    );

} //:: ReactElement
